<!DOCTYPE html>

<head>
  <title>Manezinho | {% yield title %} </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  {% yield meta %}

  <link rel="stylesheet" href="assets/css/main.css" />
  <link rel="stylesheet" href="assets/css/components.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <noscript>
    <link rel="stylesheet" href="assets/css/noscript.css" />
  </noscript>
</head>

<body class="">
  {% yield nav %}

  {% yield content %}
  {% yield scripts %} 
  {%yield footer %}

</body>

</html>


</body>

</html>