


.menu-section h2 {
  text-align: center;
  text-transform: capitalize;
  font-family: "Sword", Verdana, Geneva, Tahoma, sans-serif;
  font-size: clamp(1.5rem, 15vw + 1.5rem, 3.5rem);
  font-weight: 300;
  letter-spacing: 2px;
  text-shadow: var(--shadow-elevation-medium);
  margin-block: 0.5em;
}

.menu-subsection h3 {
  padding: 0.5rem 1rem 0;
  text-align: center;
}

table,
.sub-menu-nav {
  width: min(99%, 1000px);
  margin-inline: auto;
}
table thead {
  background-color: hsla(var(--neutral-800), 0.75);
  color: hsla(var(--neutral-100),0.85);
}
table th,
table td {
  padding: 0.5rem 0.25rem;
  border: 1px solid hsla(var(--neutral-300), 0.25);
  text-align: center;
  text-wrap: balance;
  font-size: clamp(0.85rem, 5vmin + 0.9rem, 1.15rem);
}

table tbody tr:nth-child(odd) {
  background-color: hsla(var(--neutral-900), 0.8);
}

tbody tr:nth-child(even) {
    background-color: hsla(var(--neutral-800), 0.8);

}

tr td:first-child {
  text-align: left;
  /* min-width: 15rem; */
  max-width: 66ch;
}

tr {
  width: min(99%, calc(66ch + 10rem));
}

tr.tr-divider {
  /* border-bottom: 2px solid hsla(var(--neutral-300),0.6); */
}
th[colspan="2"], th[colspan="3"] {
    text-align: center;
    font-weight: 600;
    background-color: hsla(var(--neutral-900), 0.6);
    border: unset;
    padding: 1rem;
    letter-spacing: 1px;
}
tr.tr-divider th {
}

td {
  box-shadow: var(--shadow-elevation-low)
}

td small {
  display: block;
  line-height: 1.5;
}

td small em {
  font-size: 0.8rem;
  color: hsla(var(--neutral-100),0.6)
}

td:last-child,
td:nth-child(2) {
  max-width: 5rem;
}
th.dark {
  background-color: hsla(var(--neutral-900), 0.9);
  border: 0;
}

th.footnote {
  font-size: 0.85rem;
  font-weight: 300;
  text-transform: capitalize;
  text-align: left;
  padding-left: 0.5rem;
}

.lang-switch {
   margin-top: 1rem;
 }

.lang-switch a {
    margin: 0 0.5rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid hsla(var(--primary-800), 0.8);
    border-radius: 4px;
    text-decoration: none;
    color: hsla(var(--primary-500), 0.8);
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}
.lang-switch a.active,
.lang-switch a:hover,
.lang-switch a:focus {
    background-color: hsla(var(--primary-800), 0.8);
    color: hsla(var(--neutral-100),0.9);
}

.sub-menu-nav {
  margin-top: 1rem;
}

.sub-menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.66rem;
  padding: 0.5em 0.75em;
  border: 1px solid hsla(var(--neutral-100),0.6);
  border-radius: 4px;
  list-style: none;
  background: hsla(var(--neutral-900), 0.9);
  margin: auto 0.25rem;
}

.sub-menu-nav li {
  position: relative;
  padding-inline: 0.25rem;
    color: hsla(var(--primary-200), 0.8);

}

.sub-menu-nav li::after {
    content: "-";
    position: absolute;
    color: hsla(var(--neutral-100),0.85);
    right: -0.5rem;
    font-weight: 900;
    top: -0.005rem;
}

.sub-menu-nav li:last-child::after {
  display: none;
}

@media (max-width: 30rem) {
  table {
    width: 100%;
  }
  table th,
  table td {
    padding: 0.5rem;
    font-size: clamp(0.8rem, 5vmin + 0.8rem, 1.05rem);
  }
  tr td:first-child {
    max-width: 30ch;
  }
}
