<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% yield title %} | CMSOJ </title>
  {% yield css %}
</head>

<body class="{{ $body_class ?? '' }}">
  {% component 'flash', [] %}

  {% yield nav %}

  {% yield content %}

  {% yield footer %}
  {% yield scripts %}
</body> 
</html>

{% block css %}
<link rel="stylesheet" href='<?= \CMSOJ\Template::asset("/assets/css/admin.css") ?>' />
<noscript>
  <link rel="stylesheet" href='{{ "/assets/css/noscript.css" }}' />
</noscript>
{% endblock %}

{% block footer %}
<a id="scrolltop" ...></a>
{% endblock %}

{% block scripts %}
<!-- JS includes -->
 <script>
setTimeout(() => {
  document.querySelectorAll('.flash').forEach(el => el.remove());
}, 3000);
</script>

{% endblock %}
